<div class="jumbotron">
    <h1>WepApi + Windows Phone</h1>
    <p class="lead">MBA em Desenvolvimento de Aplicações para Dispositivos Móveis - Faculdade Cidade Verde</p>
    <p><a href="http://www.fcv.edu.br/pos_graduacao.php?curso=75" class="btn btn-primary btn-large">Leia mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Introdução</h2>
        <p>
            ASP.NET Web API é um framework que torna mais fácil construir serviços HTTP para atingir
            a uma ampla gama de clientes, incluindo navegadores e dispositivos móveis. ASP.NET Web API
            é uma plataforma ideal para a construção de aplicações RESTful para o .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtenha mais bibliotecas!</h2>
        <p>
            NuGet é uma extensão do Visual Studio gratuita que torna mais fácil adicionar, remover e atualizar as
            bibliotecas e ferramentas em projetos do Visual Studio.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            Você pode facilmente encontrar uma empresa de hospedagem que ofereça a combinação certa de
            recursos e preço para suas aplicações.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Leia mais &raquo;</a></p>
    </div>
</div>
